@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 text-slate-100 antialiased selection:bg-indigo-500 selection:text-white;
  }
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  @apply bg-slate-100 dark:bg-slate-900;
}

::-webkit-scrollbar-thumb {
  @apply bg-indigo-400 dark:bg-indigo-600 rounded-full border-4 border-slate-100 dark:border-slate-900;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-indigo-500 dark:bg-indigo-500;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}
